<script>
    function directUserToSetupApp() {
        return new Promise(resolve => {
            rootNode
                .append([
                    $('<h5>')
                        .attr('id', 'guidance')
                        .append(['你的應用程式還未設定。', $('<br/>'), '請輸入以下資訊，然後按下「建立設定」讓系統為您建立初始化設定。']),
                    $('<label>').attr('for', 'rootPath').text('存放應用程式設定與訓練紀錄的目錄名稱'),
                    $('<br>'),
                    $('<input>')
                        .attr({
                            type:'text',
                            id:'rootPath',
                            value:'my-workouts'
                        }),
                    $('<br>'),
                    $('<label>'),
                    $('<button>')
                        .attr({
                            type:'button'
                        }).text('建立設定')
                        .on('click', () => {
                            google.script.run
                                .withSuccessHandler(response => {
                                    if (isObjectLike(response) && response.isSuccessful) {
                                        rootNode.empty()
                                            .append($('<div>').text('初始化成功'))
                                            .append(
                                                $(`<div>`).text('檔案路徑：')
                                                    .append(
                                                        $('<a>').text(response.url)
                                                            .attr({
                                                               href:response.url,
                                                               target:'_blank'
                                                            })
                                                )
                                            )
                                            .append(
                                                $('<button>')
                                                    .attr({
                                                        type:'button'
                                                    }).text('下一步')
                                                    .on('click', () => {
                                                        rootNode.empty();
                                                        resolve();
                                                    })
                                            )
                                    } else {
                                        $('#guidance').empty().text('初始化失敗，請再試一次')
                                    }
                                })
                                .setup({
                                    rootPath:$('#rootPath').val()
                                });
                        })
                ]);
        });
    }
</script>