<!--
    客戶端要做的事
    1. 了解系統初始化狀態
        初始 => 執行 2.
        沒初始 => 執行初始化流程
                    a. 產生設定表單給使用者
                    b. 提交初始化設定
                        成功 => 執行 2.
                        失敗 => todo
    2. 啟動訓練量提交服務
        A. 利用伺服器送來的訓練項目產生空白提交表單
        B. 提交訓練項目
            成功 => 再執行 A
            失敗 => 指出錯誤
-->
<script>
    const rootNode = $('#root');
</script>
<?!= getHtmlAsStringFromTemplate('view/script/utils.html'); ?>
<?!= getHtmlAsStringFromTemplate('view/script/app-configuration.html'); ?>
<?!= getHtmlAsStringFromTemplate('view/script/workout-note.html'); ?>
<script>
    $(function(){
        if (application.wasSetup) {

            $('<div>')
                .text('app status was setup')
                .appendTo(rootNode);
            console.log(JSON.stringify(application));
        } else {
            directUserToSetupApp();
        }
    });
</script>