<script>
    function startWorkoutNote(data) {

        function createRecordOfWorkout() {
            const defaultUnitOfMeasurement = data.settings['defaultUnitOfMeasurement'].value;

            function createLoadOfWorkout() {
                function createOptionsOfExercises() {
                    if (Array.isArray(data.exercises) && data.exercises.length > 0) {
                        return $('<select>').append(
                                data.exercises.map(exercise => {
                                    return $('<option>').text(exercise.name).attr('value', exercise.name);
                                })
                            );
                    } else {
                        return null;//todo
                    }
                }

                return $('<div>').append([
                            createOptionsOfExercises(),
                            $('<input>').attr({
                                    type:'number',
                                    name:'weight',
                                    placeholder:'重量'
                                }),
                            $('<select>').append(
                                    data.settings['unitsOfMeasurement'].map(unit => {
                                        const option = $('<option>').text(unit).attr('value', unit);
                                        if (unit == defaultUnitOfMeasurement) {
                                            option.attr('selected', true);
                                        }
                                        return option;
                                    })
                                )
                        ]);
            }

            const defaultTimeOfRest = 150;
            function createFieldOfRestTime() {
                const restTime = $('<input>').attr({
                        type:'number',
                        value:defaultTimeOfRest
                    });
                return $('<div>').append([
                    restTime,
                    $('<input>').attr({
                        type:'range',
                        max:300,
                        min:15,
                        value:defaultTimeOfRest
                    }).on('input', function(){
                        restTime.attr('value', this.value);
                    })
                ]);
            }

            return $('<div>')
                .addClass('set')
                .append([
                    createLoadOfWorkout(),
                    createFieldOfRestTime()
                ]);
        }

        rootNode.empty().append(createRecordOfWorkout())
    }
</script>